*{
  margin: 0px auto;
  padding: 0px auto;
}

body
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}
#container
{
  /* background-color: rgba(155, 145, 145, 0.329); */
  width:100%;
  max-width: 400px;
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#box
{
  padding: px auto;
  width: 70px;
  display: flex;
}
#box:hover
{
  transition: all 0.5s ease-in-out;
  box-shadow:0 0 6px #00bfff;
}
#logo
{
  /* background-color: red; */
  display: flex;
  margin: 10px 0;
  justify-content: center;

}
#logo img
{
  width: 50%;
}
#header
{
  color: white;
  background-color: rgb(90, 90, 224);
  width: 100%;
  padding: 6.5px 0;
  text-align: center;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;

}
#header .fa-facebook
{
  width: 20px;
  white-space: nowrap;
}
#line
{
  /* background-color: yellow; */
  margin: 10px 0;
  padding: 5px 0;
  display: flex;
  align-items: center;

}
.line1
{
  width: 4cm;
  float: right;
  border: none;
  padding: 0px;
  height: 1px;
  background-color: black;
}
.line2
{
  width: 4cm;
  float: left;
  border: none;
  padding: 0px;
  height: 1px;
  background-color: black;
}
#inputbox, #inputbox
{
  /* background-color: rgb(90, 90, 224); */
  width: 100%;
  text-align: center;
  border-radius: 2px;
  margin: 2x 0;
}
input
{
  width: 98.5%;
  margin: 1px 0;    /*same as inputbox1 and inputbox2*/
  padding: 6px 0;
  border-radius: 2px;
  border: none;
  border:0.5px solid rgba(168, 161, 161);
}
input:focus
{
  outline:none;
  border: 1px solid rgba(51, 48, 48, 0.856);
  padding-left: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow:0 0 6px #00bfff;
}
#forgot
{
  /* border-radius: 8px; */
  /* background-color: rgb(90, 90, 224); */
  width: 100%;
  padding: 6.5px 0;
  text-align: center;
  margin: 14px 0;
  text-decoration: none;
}
#forgot h5
{
  color:blue;
  float: right;
}
#forgot a
{
  color:blue;
  float: right;
  text-decoration: none;
}
#login
{
  background-color: rgb(90, 90, 224);
  width: 100%;
  padding: 6.5px 0;
  text-align: center;
  border-radius: 8px;
  margin: 0px 0;
}
#login a
{
  color: white;
  text-decoration: none;
}
#sign
           /* this is the test purpose color only */
{
  /* background-color: rgb(90, 90, 224); */
  width: 100%;
  padding: 6.5px 0;
  border-radius: 8px;
  text-align: center;
  margin: 30px 0;
}
#sign a
{
  text-decoration: none;
}
#terms
            /* this is the test purpose color only */
{                
  /* background-color: rgb(90, 90, 224); */
  width: 100%;
  padding: 6.5px 0;
  text-align: center;
  border-radius: 8px;
  margin: 0px 0;
}
#footer
            /* this is the test purpose color only */
{
  /* background-color: rgb(90, 90, 224); */
  width: 52%;
  padding: 2px 0;
  margin: 548px 0;
  font-size: 14px;
  position: absolute;
  position: fixed;
}
#footer ul li
{
  list-style-type: none;
  display:inline;
  
}
#footer li a
{
  color: rgba(51, 48, 48, 0.856);
  text-decoration: none;
  letter-spacing:0.2px 0.3px;
  font-size: 12.5px;
}
#footer li a:hover
{
  background-color: red;
  padding: 4px 6px;
  color: white;
}
#write
          /* this is the test purpose color only */
{
  /* background-color: yellow; */
  text-align: center;
  margin:55px 0;
  margin-top: 30px;
}
#write:hover
{
  color: white ;
  background-image: linear-gradient(red, blue);
  border-radius: 18px 5px;

}
#write h5
{
  transform: translateX(-20px 20px);
  opacity: 1;
  transition: 0.4s ease;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  background-image: linear-gradient(blue,white),
  linear-gradient(white, blue);
  width: 40%;
  text-align: center;
}
#write a
{
  color: white;
}
#write .glow
{
  transform: translateX(-20px);
  opacity: 0;
  transition: 0.4s ease;
  margin: 4px 0;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
}
#write:hover .glow
{
  opacity: 1;
}